################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LookupApi/bin
/LookupApi/obj
/LookupApi/LookupApi.csproj.user
